div.theme {
font-size: 17px;
}

div.time {
padding-top: 5px;
padding-bottom: 5px;
color: gray;
}

div.tags {
}

div.name {
  font-size: 20px;
}

div.company {
  color: gray;
}

div.avatar {
  background-image:  url(../images/person.png);
  background-repeat: no-repeat;
  width: 64px;
  height: 64px;
  border: 1px solid rgb(239, 239, 239);
}


/**************************************************************/
/* BUTTONS(TAGS)

http://webdesignerwall.com/tutorials/css3-gradient-buttons
/**************************************************************/
.button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 14px/100% Arial, Helvetica, sans-serif;
  padding: .5em 2em .55em;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
  text-decoration: none;
}
.button:active {
  position: relative;
  top: 1px
}

.medium {
    font-size: 12px;
    padding: 0.4em 1.5em 0.42em;
}
.small {
    font-size: 11px;
    padding: 0.2em 1em 0.275em;
}
.white {
    background: -moz-linear-gradient(center top , #FFFFFF, #EDEDED) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #B7B7B7;
    color: #606060;
}
.white:hover {
    background: -moz-linear-gradient(center top , #FFFFFF, #DCDCDC) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.white:active {
    background: -moz-linear-gradient(center top , #EDEDED, #FFFFFF) repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #999999;
}





/**************************************************************/
/*                   TABLE LIST                               */
/**************************************************************/
table.list td.issues {text-align: left; white-space: normal;}
table.list td.issue {text-align: left}

/**************************************************************/
/*                   ISSUES_LIST                      */
/**************************************************************/


table.issues.index {
  border-top: 1px solid rgb(239, 239, 239);
  border-right: 1px solid rgb(239, 239, 239);
  border-left: 1px solid rgb(239, 239, 239);
  width: 100%;
  border-spacing: 0px 0px;
  margin-bottom: 4px;
}

table.issues.index tbody tr:hover { background-color:#ffffdd; }

table.issues.index td {
  color: #666;
  font-size: 12px;
  border-bottom: 1px solid #efefef;
}

table.issues.index td.checkbox {
  width: 20px;
  padding: 5px 0px 0px 10px;
  vertical-align: sub;
  margin-left: 1px;
}

table.issues.index td.name {
  width: 40%;
  padding-left: 10px;
  vertical-align: top;
  }

table.issues.index td.issue_type {
  font-size: 14px;
  width: 10%;
  padding-left: 5px;
  color: gray;
}

table.issues.index td.avatar {
  width: 64px;
  height: 64px;
  margin-left: 1px;
  margin-top: 10px;

}

table.issues.index th.info {width: 50%; padding-left: 5px; }
table.issues.index th {padding: 5px 10px 5px 0px; border-bottom: 1px solid #efefef; vertical-align: top;}
table.issues.index th.title {text-align: right;}









