<div class="autoscroll">
<% (1..7).each do |i| %>
    <table class="issues index">
    <tbody>
        <tr class="hascontextmenu ">

            <td class="checkbox">
                <%= check_box_tag "active", 1, true %>
            </td>
            <td class="info">
                <div class="theme"> Перезвонить по важному вопросу</div>
                <div class="time"> Сегодня, 14:00</div>
                <div class="tags">
                 <%= submit_tag "Метка 1", :type => 'button', :onclick => 'alert("Метка 1 была выбрана")',:class => 'button white small' %>
                 <%= submit_tag "Метка 2", :type => 'button', :onclick => 'alert("Метка 2 была выбрана")',:class => 'button white small' %>
                </div>
            </td>

            <td class="issue_type">Тип задачи</td>
            <td class="avatar">
                <div class="avatar"> </div>
            </td>
            <td class="name">
                <div class = "name">Иванов Иван Иванович</div>
                <div class = "company" >ООО "Ромашка"</div>
            </td>


        </tr>

    </tbody>
    </table>
    <% end %>
 </div>




