<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'markup', :plugin => 'redmine_warehouse' %>
<% end %>
<% html_title ("Верстка") %>


<div class="contextual">
    <%= link_to ('Новая задача'),{}, {:class => 'icon icon-email', :style=>'text-decoration: underline;'} %>
</div>
<div class="content"><h1>Задачи</h1>

<%= render :partial => 'markup/table' %>
</div>
<% content_for :sidebar do %>
    <h3>Heading 3</h3>
    <%= link_to ('This is a text link'),{},{:style=>'text-decoration: underline;'} %></br>
    <%= link_to ('This is a text link'),{},{:style=>'text-decoration: underline;'} %></br>
    <%= link_to ('This is a text link'),{},{:style=>'text-decoration: underline;'} %></br>

<% end %>


