<%= error_messages_for 'item' %>

<div class="box tabular">

<div class="splitcontentleft">
  <p class="name"><%= f.text_field :name, :label => l(:field_item_name), :size => 10, :required => true %></p>
  <p class="price"><%= f.text_field :price, :label => l(:field_item_price), :size => 10, :required => true %></p>
  <p class="amount"><%= f.text_field :amount, :label => l(:field_item_amount), :size => 10, :required => true %></p>
  <p class="issue_id_"><%= f.select :issue_id, (Issue.all.map {|c| [c.subject, c.id]}), :required => true  %></p>

</div>

<div class="splitcontentright">
  <p><%= f.text_field :manufacturing_date, :size => 12, :required => true, :value => Time.now, :label => l(:field_item_manufacturing_date) %><%= calendar_for('item_manufacturing_date') %>
  </p>
</div>

<div style="clear:both;"> </div>

</div>
