<% if User.current.allowed_to?(:view_operations, @project) %>
    <hr/>
    <div class="contextual">

    </div>
    <p><strong><%= l(:label_item) %></strong></p>


    <table class="list">
      <thead>
      <tr>
        <th>#</th>
        <th><%= l(:field_item_name) %></th>
        <th><%= l(:field_item_price) %></th>
        <th><%= l(:field_item_amount) %></th>
        <th><%= l(:field_item_manufacturing_date) %></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% for item in Items.of_issue(issue) do -%>
          <tr class="<%= cycle("odd", "even") %>">
            <td><%= item.id %></td>
            <td><%= link_to item.name, project_item_path(item)%></td>
            <td><%= item.price %></td>
            <td><%= item.amount %></td>
            <td><%= format_time(item.manufacturing_date) unless item.manufacturing_date.nil?  %></td>

            <td class="buttons">
            <%= link_to l(:button_edit), edit_project_item_path(:project_id => @project, :id => item.id), :class => 'icon icon-edit' if User.current.allowed_to?(:edit_operations, item.project)%>
            <%= link_to l(:button_delete),project_item_path(:project_id => @project, :id => item.id), :method => :delete, :class => 'icon icon-del' if User.current.allowed_to?(:edit_operations, item.project) %>
            </td>
          </tr>
      <% end -%>
      </tbody>
    </table>


<% end %>

