<div class="autoscroll">
  <table class="list">
    <thead>
    <tr>
      <th>#</th>
      <%= sort_header_tag('name', :caption => l(:field_item_name)) %>
      <%= sort_header_tag('price', :caption => l(:field_item_price)) %>
      <%= sort_header_tag('amount', :caption => l(:field_item_amount)) %>
      <%= sort_header_tag('manufacturing_date', :caption => l(:field_item_manufacturing_date)) %>
      <th><%= l(:field_issue) %></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% for item in @items do -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td><%= item.id %></td>
          <td><%= link_to item.name,  :controller => 'items', :action => 'show', :id => item, :project_id => @project%></td>
          <td><%= item.price %></td>
          <td><%= item.amount %></td>
          <td><%= format_time(item.manufacturing_date) unless item.manufacturing_date.nil? %></td>

          <td><%= link_to_issue(item.issue) %></td>

          <td class="buttons">
            <%= link_to l(:button_edit), {:controller => 'items', :action => 'edit', :id => item},:class => 'icon icon-edit' if User.current.allowed_to?(:edit_operations, @project) %>
            <%= link_to l(:button_delete), {:controller => 'items', :action => 'destroy', :id => item}, :class => 'icon icon-del', :method => :delete if User.current.allowed_to?(:delete_operations, @project) %>

          </td>
        </tr>
    <% end -%>
    </tbody>
  </table>
</div>


