<% if User.current.allowed_to?(:edit_operations, @project) %>
  <% html_title t(:label_item) %>
  <h2><%= t(:project_module_warehouse) %></h2>
  <%= labelled_form_for :item, @item, :url => {:controller => 'items', :action => 'update', :project_id => @project}, :method => :put do |f|  %>
    <%= render :partial => 'form', :locals => {:f => f}  %>
    <%= submit_tag l(:button_save) if User.current.allowed_to?(:edit_operations, @project) -%>
  <% end -%>
<% end -%>


