
<% html_title t(:label_item) %>

<div class="contextual">
  <%= link_to l(:label_item_new), {:controller => 'items', :action => 'new',:project_id => @project}, :class => 'icon icon-add' if User.current.allowed_to?(:add_operations, @project) %>
</div>

<h2><%= t(:project_module_warehouse) %></h2>

  <%= form_tag({:controller=> 'items', :action =>'index'}, :method => :get) do %>

      <%= hidden_field_tag :project_id, @project.id %>

    <fieldset><legend><%= l(:label_filter_plural) %></legend>
      <label for='name'><%= l(:field_item_name) %>:</label>
      <%= text_field_tag 'name', params[:name], :size => 50 %>
      <%= submit_tag l(:button_apply), :class => "small", :name => nil %>
      <%= link_to l(:button_clear), {:controller=> 'items', :action =>'index', project_id: @project}, :class => 'icon icon-reload' %>
    </fieldset>
<% end %>
&nbsp;

<%= render :partial => 'items/table', :locals => {items: @Items, project: @project} %>
