<% if User.current.allowed_to?(:view_operations, @project) %>

<% html_title t(:label_item) %>



<div class="contextual">
  <%= link_to l(:button_edit), {:controller=> 'items', :action => 'edit', :id => params[:id]}, :class => 'icon icon-edit' if User.current.allowed_to?(:edit_operations, @item.project) %>
  <%= link_to l(:button_delete), {:controller => 'items', :action => 'destroy', :id => params[:id]}, :class => 'icon icon-del', :method => :delete if User.current.allowed_to?(:delete_operations, @item.project) %>
</div>

<h2><%= @item.name %></h2>

<div class="splitcontentleft">
  <fieldset class="box tabular">
         <p>
      <label><%= l(:field_item_name )%> :</label> <%= @item.name %>
    </p>
     <p>
      <label><%= l(:field_item_price)%> :</label> <%= @item.price%>
    </p>
    <p>
      <label><%= l(:field_item_amount )%> :</label> <%= @item.amount %>
    </p>
    <% if @item.manufacturing_date%>
        <p>
          <label><%= l(:field_item_manufacturing_date)%> :</label> <%= format_time(@item.manufacturing_date)%>
        </p>
    <% end %>
    <p>
      <label><%= l(:field_issue)%> :</label> <%= link_to_issue(@item.issue) %>
    </p>
    <p>
      <label><%= l(:field_project)%> :</label> <%= link_to_project(@item.project) %>
    </p>
  </fieldset>
</div>
<% else %>
<%= render_403 %>
<% end %>
